* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
 
    font-style: normal;
    height: auto;
    
 }
 .headercontact {
    width :300px;
    height: 70px;
    padding-top: 173px;
    padding-left: 80px;
    
 }

.headercontact h1 {
    font-size: 62.3px;
    font-weight: 500;
    color: #303030;

}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    padding-left: 690px;




}

.navbar ul {

    margin-top: 44px;


    width: 558px;
    height: 70px;


    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 100px;
    list-style: none;
    z-index: 2;


}

.navbar .navlogo {
    margin-top: 17px;
    margin-left: -30px;
}

.navbar .navbandages {
    margin-top: 26px;
}

.navbar .navstory {
    margin-top: 26px;
}

.navbar .navjournal {
    margin-top: 25px;
}

.navbar .navbuy {
    margin-top: 12px;
}
.img {
    margin-top: 82.9px;
    padding-left: 80px;
}
.img2 {
    padding-left: 80px;
    padding-top: 40px;
}

.footermain {
    width: 1440px;
    height:338px;
    background-color: #D9E5FA;
    
 }
 .footerimg1 {
    padding-top: 66.14px;
    padding-left: 144.56px;
    
 }
 .footerline {
    width: 353px;
    height: auto;
    display:flex;
    gap: 32px;
    flex-wrap:  wrap;
    
    padding-left: 513px;
    margin-top: -200px;
    
    
   
 }
 .footertrade {
    margin-left: 513px;
    margin-top: 96.21px;
 }
 .insta {
    margin-left: 1167px;
    margin-top: -240px;
 }